.box-container {
  box-shadow: 0px, 0px, 15px, -5px;
  background: #2c2c6c;
  padding: 0;
  border-radius: 15px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out 0s;
}

.card-container {
  width: 350px;
  overflow: hidden;
  background: inherit;
  border: #2c2c6c;
}

.image-container img {
  overflow: hidden;
  height: 250px;
}

.box-container:hover {
  transform: scale(1.05);
  box-shadow: 0px, 0px, 15px, 0px;
  border-color: white;
  background: transparent;
}
